.frindsPreview > a {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-size: contain;
    padding-top: 55px;
    color: #fff;
    font-weight: 900;
}

.frindsPreview span {
    width: 60px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.label-as-badge {
    border-radius: 50px;
}

.friendRequestsList:hover, .searchUserList:hover, .friendsList:hover {
    background: #87cefa;
}

.friendRequestsBtns {
    margin-left: 120px;
}

.coverImage {
    width: 100%;
    height: 70px;
    margin-bottom: 40px;
}

.profileImg {
    width: 100px;
    height: 95px;
}

textarea {
    width: 100%;
}

.friendsList {
    list-style-type: none;
    display: inline-block;
    width: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
}

    .friendsList div:last-child {
        line-height: 80px;
    }

.coverImgView {
    height: 200px;
    margin-bottom: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #DFDFC6;
}

    .coverImgView > div:first-child {
        color: #fff;
        font-weight: 900;
    }

.postLikeList {
    list-style-type: none;
    margin-bottom: 10px;
}

.popupInfo {
    height: 73%;
}

.postControllBtn, .commentControllBtn {
    min-width: 85px !important;
}

.popupContainer {
    height: 100%;
    width: 98%;
}

.personImg {
    width: 150px;
    height: 140px;
}

time {
    display: block;
}
