<div class="row">
<div class="col-lg-12">
    <img ng-src="{{userData.profileImageData || '../img/default.jpg'}}" class="img-circle" width="200" height="200">
    <a href="#/user/{{userData.username}}"><h1>{{userData.username}}</h1></a>
    <div class="btn-group">
        <button type="button" ng-click="LoadHomePage()" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span>
        </button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class=" glyphicon glyphicon-user" aria-hidden="true"><span ng-show="friendRequests.length" class="label label-danger label-as-badge">{{friendRequests.length}}</span></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li class="friendRequestsList" ng-repeat="request in friendRequests">
                <a href="#/user/{{request.username}}">
                    <div class="col-lg-8">
                        <img ng-src="{{request.user.profileImageData || '../img/default.jpg'}}" width="50px" height="50px" />{{request.user.username}}
                    </div>
                </a>
                <div class="col-lg-4">
                    <div class="btn-group-vertical pull-right friendRequestsBtns" role="group" aria-label="...">
                        <button type="button" ng-click="ApproveFriendRequest(request.id)" class="btn btn-primary">Approve</button>
                        <button type="button" ng-click="RejectFriendRequest(request.id)" class="btn btn-danger">Rejecte</button>
                    </div>
                </div>
            </li>
        </ul>
        <button type="button" ng-click="LoadEditProfilePage()" class="btn btn-default">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
        <button type="button" ng-click="loadChangePasswordPage()" class="btn btn-default">
            <span class="glyphicon glyphicon-wrench"></span>
        </button>

        <button type="button" ng-click="loadFriendsPage()" class="hidden-md hidden-lg btn btn-default">
            <span class="icon-large icon-group"></span>
        </button>
        <button ng-controller="AuthenticationController" type="button" ng-click="logout()" class="btn btn-default">
            <span class="glyphicon glyphicon-log-out"></span>
        </button>
    </div>
</div>
<div class="col-lg-12 hidden-xs hidden-sm">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                Friends - total: <a href="#/user/friends">{{friendsPreview.totalCount}}</a>
            </h3>
        </div>
        <div class="panel-body">
            <div class="frindsPreview">
                <a href="#/user/{{friend.username}}" ng-repeat="friend in friendsPreview.friends" ng-style="{'background-image': 'url({{friend.profileImage || '../img/default.jpg'}})' }">
                    <span>{{friend.username}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
    <div class="col-lg-12 col-md-4 col-sm-5 col-xs-12 pull-right">
        <div class="input-group" ng-controller="UserController">
            <input type="text" ng-model="name" ng-change="searchUserByName(name)" class="form-control dropdown-toggle" data-toggle="dropdown" aria-expanded="False" placeholder="Username" aria-describedby="basic-addon2">
            <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon2"></span>
            <ul class="dropdown-menu" role="menu">
                <li class="searchUserList" ng-repeat="person in findPeople">
                    <a href="#/user/{{person.username}}">
                        <img ng-src="{{person.profileImageData || '../img/default.jpg'}}" width="50px" height="50px" />{{person.username}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>