<div class="container-fluid">
    <div class="well col-lg-3 aside-nav col-sm-12 text-center col-lg-offset-1" ng-include="'partials/aside.html'">
    </div>
    <div class="col-lg-7 col-sm-12">
        <div class="jumbotron">
            <form class="form-horizontal" ng-controller="AuthenticationController" name="changePasswordForm" ng-submit="changePassword()">
                <fieldset>
                    <legend>Change Password</legend>
                    <div class="form-group">
                        <label for="oldPassword" class="col-lg-2 control-label">Old Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="oldPassword" ng-model="passwordData.oldPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="col-lg-2 control-label">New Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="newPassword" ng-model="passwordData.newPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class="col-lg-2 control-label">Confirm Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="confirmPassword" ng-model="passwordData.confirmPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>