<div class="container">
    <div class="well col-lg-4 aside-nav col-sm-12 text-center" ng-include="'partials/aside.html'">
    </div>
    <div class="col-lg-8 col-sm-12">
        <div class="input-group col-lg-4 pull-right">
            <input type="text" ng-model="filterByName" class="form-control" aria-expanded="false" placeholder="Friend's username">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
        </div>
        <div class="col-lg-12">
            <ul>
                <li class="friendsList" ng-repeat="friend in friends | filter:filterByName:strict">
                    <img ng-src="{{friend.profileImageData || '../img/default.jpg'}}" width="100px" height="100px" />
                    <span>{{friend.username}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>