<div class="container-fluid">
    <div class="well col-lg-3 aside-nav col-sm-12 text-center col-lg-offset-1" ng-controller="MainController" ng-include="'partials/aside.html'">
    </div>
    <div class="col-lg-7 col-sm-12">
        <div class="input-group col-lg-4 pull-right">
            <input type="text" ng-model="filterByName" class="form-control" aria-expanded="false" placeholder="Friend's username">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
        </div>
        <div class="col-lg-12">
            <ul>
                <li class="friendsList" ng-repeat="friend in friends | filter:filterByName:strict">
                    <a href="#/user/{{friend.username}}">
                        <img ng-src="{{friend.profileImageData || '../img/default.jpg'}}" width="100px" height="100px" />
                        <span>{{friend.username}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>