<div class="triangle"></div>
<div class="ns-popover-tooltip">
    <div class="popupContainer">
        <img ng-src="{{userPreview.profileImageData || '../img/default.jpg'}}" class="pull-left img-thumbnail" width="150px" />
        <span>
            <div class="popupInfo">
                <div>Username:{{userPreview.username}}</div>
                <div>Name: {{userPreview.name}}</div>
                <div ng-show="userPreview.gender==0">Gender: Male</div>
                <div ng-show="userPreview.gender==1">Gender: Female</div>
                <div ng-show="userPreview.gender==2">Gender: Other</div>
            </div>
            <button class="btn btn-primary pull-right" ng-click="inviteFriend(authorName)" ng-hide="userPreview.isFriend || userPreview.hasPendingRequest || userPreview.username == username">Invite</button>
        </span>
    </div>
</div>