<div class="container">
    <div class="well col-lg-4 aside-nav col-sm-12 text-center" ng-include="'partials/aside.html'">        
    </div>
    <div class="col-lg-8 col-sm-12">
        <div class="jumbotron" ng-repeat="post in feedData">
            <div class="row">
                <div class="col-lg-11">
                    <img ng-src="{{post.author.profileImageData || '../img/default.jpg'}}" class="pull-left img-thumbnail" />
                    <a href="#">{{post.author.username}}</a>
                    <time>{{post.date}}</time>
                </div>
                <div class="col-lg-1" ng-show="post.author.username === username">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <span>{{post.postContent}}</span>
            <div class="row">
                <div class="pull-right" ng-init="isLiked=post.liked">
                    <span>{{post.likesCount}}</span>
                    <a href="#/user/home" ng-hide="isLiked" ng-click="likePost(post.id); post.likesCount=post.likesCount+1; isLiked=!isLiked">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        Like
                    </a>
                    <a href="#/user/home" ng-show="isLiked" ng-click="unlikePost(post.id); post.likesCount=post.likesCount-1; isLiked=!isLiked">
                        <span class=" glyphicon glyphicon-thumbs-down">
                        </span>
                        Unlike
                    </a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Coment</button>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
