<div class="container-fluid">
    <div class="well col-lg-3 aside-nav col-sm-12 text-center" ng-include="'partials/aside.html'">
    </div>
    <div class="col-lg-9 col-sm-12" ng-controller="UserController">
        <div class="col-lg-12">
            <div class="coverImgView" ng-style="{'background-image': 'url({{person.coverImageData}})' }">
                <div class="text-center col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <img ng-src="{{person.profileImageData || '../img/default.jpg'}}" class="img-thumbnail" width="130" height="130">
                    <div>{{person.username}}</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="btn-group-vertical pull-right">
                    <button ng-hide="person.isFriend">Sent friend request</button>
                    <button ng-show="person.hasPendingRequest && !person.isFriend">Friend request is sent</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-push-8 col-lg-push-8">
            <div class="col-lg-12" ng-show="person.isFriend">
                <div class=" panel panel-info text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                           {{person.username}}`s Frieds - total: <a href="#/user/{{person.username}}/friends">{{friendFriendsPreview.totalCount}}</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="frindsPreview">
                            <a href="#" ng-repeat="friend in friendFriendsPreview.friends" ng-style="{'background-image': 'url({{friend.profileImageData || '../img/default.jpg'}})' }">
                                <span>{{friend.username}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-pull-4 col-lg-pull-4">
            <form class="form-horizontal" ng-show="person.isFriend" ng-controller="PostController">
                <div class="form-group">
                    <div class="col-lg-12">
                        <textarea ng-model="newPost.postContent"></textarea>
                        <button class="btn btn-primary pull-right" ng-disabled="!newPost.postContent" ng-click="publishPost(person.username)">Post</button>
                    </div>
                </div>
            </form>
            <div ng-include="'partials/posts.html'"></div>
        </div>
    </div>
</div>
